{% load static %}

<div class="row text-center">
	<div class="mx-auto">
		<img src="{% static 'images/icons8-facebook-filled-100.svg' %}" class="col-sm-2 col-md-1 col-lg-1 mx-4" style="max-width: 4em">
		<img src="{% static 'images/icons8-instagram-старый-filled-100.svg' %}" class="col-sm-2 col-md-1 col-lg-1 mx-4" style="max-width: 4em">
		<img src="{% static 'images/icons8-whatsapp-filled-100.svg' %}" class="col-sm-2 col-md-1 col-lg-1 mx-4" style="max-width: 4em">
		<img src="{% static 'images/icons8-вконтакте-filled-100.svg' %}" class="col-sm-2 col-md-1 col-lg-1 mx-4" style="max-width: 4em">
		<img src="{% static 'images/icons8-гугл-плюс-filled-100.svg' %}" class="col-sm-2 col-md-1 col-lg-1 mx-4" style="max-width: 4em">
		<img src="{% static 'images/icons8-одноклассники-filled-100.svg' %}" class="col-sm-2 col-md-1 col-lg-1 mx-4" style="max-width: 4em">
	</div>
</div>