
<nav class="navbar navbar-expand-md navigation_bar">
  <div class="container">
        <button class="navbar-toggler m-2 border-dark" data-bs-toggle="collapse" data-bs-target="#navbar">click</button>
        <div class="collapse navbar-collapse justify-content-between" id="navbar">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bold px-3 navigation_bar_item" href="#">отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bold px-3 navigation_bar_item" href="#">каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bold px-3 navigation_bar_item" href="#">регистрация</a>
                </li>
            </ul>
        </div>
  </div>
</nav>