<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mx-auto col-4">
        <li class="nav-item nav-link text-uppercase fw-bold col-12 text-center bg-danger">
          <a class="nav-link" aria-current="page" href="#">Отзывы</a>
        </li>
        <li class="nav-item nav-link text-uppercase fw-bold col-12 text-center bg-success ">
          <a class="nav-link" href="#">Каталог</a>
        </li>
        <li class="nav-item nav-link text-uppercase fw-bold col-12 text-center bg-danger">
          <a class="nav-link" href="#">Регистрация</a>
        </li>
      </ul>
    </div>
  </div>
</nav>