{% extends 'base.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block nav1 %}
	<a class="nav-link text-uppercase fw-bold px-3 navigation_bar_item" href="{% url 'shop:review' %}">отзывы</a>
{% endblock %}
{% block nav2 %}
	<a class="nav-link text-uppercase fw-bold px-3 navigation_bar_item" href="{% url 'shop:catalogue' %}">каталог</a>
{% endblock %}
{% block nav3 %}
	{% if request.user.is_authenticated and request.user.first_name %}
	<a class="nav-link text-uppercase fw-bold px-3 navigation_bar_item" href="{% url 'sign_out' %}">Выйти</a>

	{% else %}
		<a class="nav-link text-uppercase fw-bold px-3 navigation_bar_item" href="{% url 'shop:login' %}">аккаунт</a>

	{% endif %}


{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6 text-center pt-3 pb-5 border-end border-bottom border-secondary">
			<h1 class="header_main py-3">Актуальное</h1>
			{% for actual in actuals %}
				<img src="{{ actual.image.url }}">
			{% endfor %}
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 text-center pt-5 border-start border-bottom border-secondary">
			<h1 class="header_main my-5 pt-5">Baranova TV</h1>
			<p class="paragraph_main fs-4">
				Меня зовут Ольга, и я занимаюсь продажей продукции Avon.
			</p>
		</div>
	</div>
	<div class="row">
		<h1 class="text-uppercase header_main col-sm-12 col-md-8 col-lg-8 text-center mx-auto py-3">
			Почему стоит зарегистрироваться прямо сейчас?
		</h1>
	</div>
	<div class="container text-center">
		{% for paragraph in paragraph %}
		<div class="container">
			<div class="row mx-auto">
				<div class="m-4 bg-white" style="min-height:100px; box-shadow: 0 0 5px rgba(0,0,0,0.5);
   } ">
					<p class="paragraph_main fs-4">
						{{ paragraph.text }}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
		<div class="row text-center border-bottom border-secondary pb-5">
			<div class="container text-center mx-auto">
				<img src="{% static 'images/product_main_page.png' %}" class="image_mainpage mt-5" style="max-width: 90%;">
			</div>
		</div>
{% include 'footer.html' %}


{% endblock %}

